<document>
  <alertTemplate>
    <button id="play-btn">
      <text>Přehrát od začátku</text>
    </button>
    <button id="resume-btn">
      <text>Pokračovat od {{ time }}</text>
    </button>
  </alertTemplate>
</document>
