<document>
  <alertTemplate>
    <title>{{ programme.title }}</title>
    <description>{{ programme.synopsis }}</description>
    <button id="watched-btn">
      <text>Viděno</text>
    </button>
    <button id="unwatched-btn">
      <text>Neviděno</text>
    </button>
  </alertTemplate>
</document>
