<document>
  <alertTemplate>
    <title>{{ programme.title }}</title>
    <description>{{ programme.synopsis }}</description>
    <button id="favorite-btn">
      <text>Odstranit z oblíbených</text>
    </button>
  </alertTemplate>
</document>
