<document>
   <stackTemplate>
      <collectionList>
        <shelf style="margin-top:640">
          <section>
            {{#each results }}
            <lockup data-href-page="dates-date" data-href-page-options="{{toJSON this }}">
              <img src="" style="width:250; height:150;"/>
              <title>{{ short_title }}</title>
            </lockup>
            {{/each}}
          </section>
        </shelf>
      </collectionList>
   </stackTemplate>
</document>
